*{
	margin: 0;
	padding: 0;
}

body{
	/*background-color: #717171;*/
}
.head{
	background: #00aeac;
}
.logo{
	width: 100px;
	height: auto;
	text-align: center;
}
.search{
	text-align: center;
	padding: 30px 0px;
	
}
.search input{
	/*text-align: center;*/
	border-radius: 10px;
	width: 100%;
	padding-left: 30px;

}

.search input[placeholder="Tim kiem san pham..."]{
	padding: auto;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #00aeac;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.about{
	padding-top: 30px;
}

.menu .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01b9b7;

}

.menu .list li {
    float: left;
    padding-right: 20px;
    padding-left: 15px;

}

.menu .list li a, .drbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu .list li a:hover, .drdown:hover .drbtn {
    background-color: #009290;
}

.menu .list list-style: .dr;down {
    display: inline-block;
}

.menu .list .drdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .list .drdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu .list .drdown-content a:hover {
	background-color: #95d2d1;
	color: #007978;
}

.menu .list .drdown:hover .drdown-content {
    display: block;
}
.collapsed{
	background: #fff;
	border-radius: 8px;
}
.collapsed:focus{
	background: #007978;
	border-color: #fff;
}
.collapsed:hover:active{
	background: #fff;
	border-color: #fff;
}
.collapsed:hover{
	background: #00b3b1;
	border-color: #fff;
}
.btn-primary{
	background: #007978;
	border-radius: 8px;
	border-color: #007978;
}
.btn-primary:focus{
	background: #007978;
	border-color: #007978;
}
.btn-primary:hover:active{
	background: #007978;
	border-color: #fff;
}
.btn-primary:hover{
	background: #00b3b1;
	border-color: #fff;
}
.btn-primary:active{
	border-color: #fff;
}
.navbar-header{
	padding-top: 15px;
	padding-right: 15px;
}
.row-no-padding{
	padding: 0px;

}
.clear{
	clear: both;
}
.footer{
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 20px;
	background-color: #009290;
	color: #fff;

}
.email{
	margin-top:  10px;
}
.img{
	width: 100px;
	height: auto;
}
